{% include 'header.html' %}
    
    </div>
    
    <!-- Top bar -->
    <div class="top-bar">
        <h1>About Me</h1>
        <p><a href="{{ url_for('hello') }}">Home</a> / About Us</p>
    </div>
    <!-- end Top bar -->

    <!-- Main container -->
    <div class="container main-container clearfix">
        <div class="col-md-12">
            <h3 class="uppercase">About Us</h3>
            <h5>The Indian Cricket League (ICL) was founded in 2007, with funding provided by Zee Entertainment Enterprises.</h5>
            <div class="h-30"></div>
            <p>The Indian Premier League (IPL) is a professional men's Twenty20 cricket league, contested by ten teams based out of ten Indian cities.[1] The league was founded by the Board of Control for Cricket in India (BCCI) in 2007. It is usually held between March and May of every year and has an exclusive window in the ICC Future Tours Programme.[2]</p>
            <p>The IPL is the most-attended cricket league in the world and in 2014 was ranked sixth by average attendance among all sports leagues.[3] In 2010, the IPL became the first sporting event in the world to be broadcast live on YouTube.[4][5] The brand value of the IPL in 2019 was ₹47,500 crore (US$6.2 billion), according to Duff & Phelps.[6] According to BCCI, the 2015 IPL season contributed ₹1,150 crore (US$150 million) to the GDP of the Indian economy.[7] The 2020 IPL season set a massive viewership record with 31.57 million average impressions and with an overall consumption increase of 23 per cent from the 2019 season.</p>
            <p>There have been fourteen seasons of the IPL tournament. The current IPL title holders are the Chennai Super Kings, winning the 2021 season.[8] The venue for the 2020 season was moved due to the COVID-19 pandemic and games were played in the United Arab Emirates.[9][10]</p>
        </div>
    </div>
    <!-- end Main container -->

{% include 'footer.html' %}