<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Indian Premier League Official Website</title>
    <link rel="icon" href="{{ url_for('static',filename='img/favicon.png') }}" type="image/x-icon">

    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='ionicons/css/ionicons.min.css') }}" rel="stylesheet">

    <!-- main css -->
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet">


    <!-- modernizr -->
    <script src="{{ url_for('static',filename='js/modernizr.js') }}"></script>
    <!-- jQuery -->
    <script src="{{ url_for('static',filename='js/jquery-2.1.1.js') }}"></script>
    
    <!--  plugins -->
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div class="pre-container">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <!-- end Preloader -->

    <div class="container-fluid">
        <!-- box header -->
        <header class="box-header">
            <div class="box-logo">
                <a href="{{ url_for('hello') }}"><img src="{{ url_for('static',filename='img/ipl_logo.png') }}" width="115px" alt="Logo"></a>
            </div>
            <!-- box-nav -->
            <a class="box-primary-nav-trigger" href="#0">
                <span class="box-menu-text">Menu</span><span class="box-menu-icon"></span>
            </a>
            <!-- box-primary-nav-trigger -->
        </header>
        <!-- end box header -->

        <!-- nav -->
        <nav>
            <ul class="box-primary-nav">
                <li><a href="{{ url_for('hello') }}">Home</a></li>
                <li><a href="{{ url_for('matchlist') }}">Match List</a></li>
                <li><a href="{{ url_for('about') }}">About Us</a></li>
            </ul>
        </nav>
        <!-- end nav -->