{% include 'header.html' %}

    <!-- box-intro -->
    <section class="box-intro">
        <div class="table-cell">
            <h1 class="box-headline letters rotate-2">
                <span class="box-words-wrapper">
                    <b class="is-visible">Indian</b>
                    <b>&nbsp;Premier</b>
                    <b>League</b>
                </span>
            </h1>
            <h5>The Indian Premier League is a professional men's Twenty20 cricket league, 
                contested by ten teams based out of ten Indian cities. The league was founded 
                by the Board of Control for Cricket in India in 2007.
            </h5>        
        </div>
    </section>
    <!-- end box-intro -->
</div>

{% include 'footer.html' %}